name: "Dependency Review"
on:
  pull_request:
    branches: [main, master, develop]

jobs:
  dependency-review:
    permissions:
      actions: read
      contents: read
      security-events: write
    uses: marvinIsSacul/kg-test-workflow/.github/workflows/ci-dependency-review.yml@main
